/* Color Scheme:

    Main: #2e2e2e
    light: #5e5e5e
    background: #212121
    Dark: #212121

    Secondary: #458203
    Light: #99f125

    Text: #f4f4f4
    Text Selected: #1db5ec

    Third: #ff4d4d
*/
/* Font
    font-family: 'Roboto', sans-serif;

    Weights
    Roboto:300,400,700
*/

*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

html{
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    color: #f4f4f4;
}

header {
    background-color: #2e2e2e;
    width: 1040px;
    margin-left: 15px;
    font-size: 24px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}



.btn {
    border: none;
    color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 40px;
    box-shadow: 0 8px 6px -6px black;
    background-color: #212121;
    transition: .5s ease-out;
}

/*if clicked add javascript to change button / text color*/
.btn:hover{
    color: #1db5ec;
    background-color: #101010;
    transition: .5s ease-out;
}

.movie-listings {
    float: left;
    width: 500px;
    height: 370px;

}

.movie-listings p {
    padding: 10px;
    box-shadow: 0 8px 6px -6px black;
    font-weight: 700;
    color: #458203;

}
.movie-listings table {
    border: none;
    width: 500px ;
    margin-top: 20px;
    box-shadow: 0 8px 6px -6px black;
}
.movie-listings td{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.movie-listings table tr:nth-child(odd){
     background: #5e5e5e;

}

.user-list {
    width: 500px;
    margin: 0px;
    height: 60px;
    padding: 0px;
    background-color: #344b60;
}

.user-info {
    width: 230px;;
    height: 200px;
    float: left;
    background-color: #466481;
}

.movie-audio-player {
    height: 300px;
    width: 500px;
    float: left;
    background-color: #22313f;
}

.add-movies {
    width: 1040px;
    height: 100px;
    background-color: #22313f;
}

.box {
    box-shadow: 0 8px 6px -6px black;
    background-color: #2e2e2e;
    margin: 5px 20px;
}

.descriptive-text {
    margin-top: 15px;
    font-size: 10px;
    text-align: center;
    width: 230px;
}

video {
    margin-left: 35px;
    margin-top: 30px;

}

.box-line{
    width: 500px;
    height: 5px;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-color: #212121;
    margin-bottom: 0px;

}

.audio-player {
width: 500px;
float: left;
height: 60px;
}

audio {
    width: 420px;
    margin: 15px 35px;
}

.add-movie-input {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 5px;
}

label {
    margin-bottom: 5px;
}

input, label {
    display: block;
}
